@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  margin: 0;
  padding: 0;
  background-color: #343a40;
  height: 100vh;
  width: 100vw;
  min-height: fit-content;
  max-width: fit-content;
}

.head h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.canvas-box {
  width: 100vw;
  height: 78vh;
}

.logo {
  height: 25px;
}

.adjust {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-height: fit-content;
  max-width: fit-content;
  background-color: #91989f;
}

.radio-input {
  display: none;
}

@media (max-width: 768px) {

  #pencil {
    grid-area: pencil;
  }

  #line {
    grid-area: line;
  }

  #rect {
    grid-area: rect;
  }

  #eraser {
    grid-area: eraser;
  }

  #color {
    grid-area: color;
  }

  #undo {
    grid-area: undo;
  }

  #redo {
    grid-area: redo;
  }

  #clear {
    grid-area: clear;
  }

  .canvas-box {
    width: 95%;
    height: 70vh;
  }

  .logo{
    margin: 0;
    padding: 0;
  }

  .adjust {
    max-width: fit-content;
    height: 20vh;
    display: grid;
    grid-template-areas: 'pencil line rect eraser'
      'color undo redo clear'
      'color undo redo clear';
    

  }
}