/* #root{
  margin: 0;
  padding: 0;
  background-color: #252525;
  height: 100vh;
  width: 100vw;
  min-height: fit-content;
  max-width: fit-content;
}

.canvas-box{
  height: 85vh;
}

.logo{
  height: 30px;
}

.adjust{
  width: 100px;
  min-width: fit-content;
  background-color: #91989f;
} */

/* General styles */

#root{
  margin: 0;
  padding: 0;
  background-color: #343a40;
  height: 100vh;
  width: 100vw;
  min-height: fit-content;
  max-width: fit-content;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.head {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
}

canvas-box {
  width: 100%;
  height: 80vh;
}

.canvas{
  background-color: #343a40;
  width: 100%;
  height: 80vh;
}

footer {
  background-color: #343a40;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}

.adjust {
  background-color: #343a40;
  padding: 20px;
  height: 50vh;
  
}

.logo {
  width: 24px;
  height: 24px;
}

/* Responsive design */
@media (max-width: 768px) {
  .head h1 {
    font-size: 1.5rem;
  }
  /* p-2 d-flex flex-column align-items-center gap-3  */
  .adjust {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .canvas-box {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .head{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adjust {
    height: 15vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .canvas-box {
    height: 75vh;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  footer {
    height: 3vh;
    font-size: 0.8rem;
  }
}
